@use "../abstracts" as *;

.flex {
    display: flex;

    &--center {
        align-items: center;
        
        &--col {
            flex-direction: column;
        }
    }

    &--gap {
        &-200 {
            gap: size(200);
        }

        &-300 {
            gap: size(300);
        }
    }

    &--align {
        &-baseline {
            align-items: baseline;
        }
    }

    &--wrap {
        flex-wrap: wrap;
    }
}