@use '../abstracts/' as *;
@use '../base/typography' as *;

.heading1,
.heading2,
.heading3,
.heading4,
.heading5 {
    font-family: font-family("poppins");
}

.heading1,
.heading2 {
    font-weight: 900;
    text-transform: uppercase;
    
    margin-block: size(500)
}

.heading3,
.heading4 {
    font-weight: 700;
    // letter-spacing: -0.02em;
    margin-block: size(400)
}

.heading5 {
    font-weight: 600;
    margin-block: size(300)
}

//-------

.heading1 {
    font-size: font-size(1000);
    line-height: rem(36px, $fs-root);

    @include mq("tablet") {
        font-size: font-size(1000);
        line-height: rem(52px, $fs-root);
    }
}

.heading2 {
    font-size: font-size(700);
    line-height: rem(32px, $fs-root);

    @include mq("desktop") {
        font-size: font-size(800);
        line-height: rem(36px, $fs-root);
    }
}

.heading3 {
    font-size: font-size(600);
    line-height: rem(28px, $fs-root);
}

.heading4 {
    font-size: font-size(500);
    line-height: rem(24px, $fs-root);
}